.confirm__content {
    max-width: 1230px;
    margin: 0 auto;
    text-align: center;
}

.form {
    width: 70%;
    margin: 0 auto;
}

.confirm-table__inner {
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.confirm-table__header {
    text-align: left;
    border: 1px solid #c8bcb3;
    padding: 20px;
    padding-right: 0;
    width: 250px;
    background-color: #8b7969;
    color: white;
}

.confirm-table__text {
    border: 1px solid #c8bcb3;
}

input {
    border: none;
}
